body{
  color:lightgray;
}
nav h3{
  color:#0dcaf0;
}
nav{
background-color:white;
}
.nav-link{
  color:black;
}

.container__color{
  background-color: black;
    color: white;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 16px;
    font-weight: bold;
    font-size:22px;
    margin:5rem 0 2rem 0;

}

span{
  color:lightblue;
  padding-left:20px;
}

button{
  border: 2px solid black;
  padding: 8px 22px;
  background-color:white;
  font-weight:bold;
  border-radius:8px;
}
button:hover{
  border:2px solid #0dcaf0;
  color:#0dcaf0;
}